a {
  text-decoration: none;
  color: #fff;
}
p {
  line-height: 2;
}
button {
  vertical-align: middle;
  line-height: 1;
  background-color: transparent;
  border-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
