$body-bg-clr: hsl(0, 0%, 97%);
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$light-moderate-cyan: hsl(176, 50%, 80%);
$white: hsl(0, 0%, 100%);
$very-light: hsl(0, 0%, 90%);
$light: hsl(0, 0%, 85%);
$gray: hsl(0, 0%, 55%);

$light-gray-border: hsl(0, 0%, 93%);
$rounded-border: 6px;
$rounded-btn: 100px;

$mobile-width: 375px;
$desktop-width: 1440px;
