@use 'variables';
@use 'normalize';
@use 'elements';

.wrapper {
  position: relative;

  &-hero-wrapper {
    position: relative;
  }

  .mobile-hero-image,
  .desktop-hero-image {
    width: 100%;
    height: auto;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
}

.navbar {
  position: absolute;
  top: 10%;
  left: 6%;
  right: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  @media (min-width: variables.$mobile-width) {
    top: 12%;
    left: 11.5%;
    right: 11.5%;
  }

  .logo {
    width: 120px;
  }
}

.navbar-mobile {
  display: block;
  cursor: pointer;

  @media (min-width: variables.$mobile-width) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;

  &-links {
    list-style: none;
    position: absolute;
    top: 84px;
    left: 6%;
    right: 6%;

    li {
      font-weight: 700;
      text-transform: capitalize;
      background-color: variables.$white;
      padding: 1.5rem;
      cursor: pointer;
    }
    li:not(:last-child) {
      border-bottom: 1px solid variables.$light;
    }
    li:first-of-type {
      border-top-left-radius: variables.$rounded-border;
      border-top-right-radius: variables.$rounded-border;
    }
    li:last-of-type {
      border-bottom-left-radius: variables.$rounded-border;
      border-bottom-right-radius: variables.$rounded-border;
    }
  }
}

.navbar-desktop {
  display: none;
  font-size: 0.8rem;
  text-transform: capitalize;
  column-gap: 2rem;

  @media (min-width: variables.$mobile-width) {
    display: flex;
  }
}
/***** Main Container *****/
.container {
  position: absolute;
  left: 6%;
  right: 6%;
  margin-top: -57px;
  @media (min-width: variables.$mobile-width) {
    margin-top: -90px;
  }

  section {
    background-color: variables.$white;
    border: 1px solid variables.$light-gray-border;
    border-radius: variables.$rounded-border;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: variables.$mobile-width) {
      &:not(.product) {
        width: 722px;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
      }
    }

    p {
      font-size: 0.7rem;
      font-weight: 500;
      color: variables.$gray;
      margin-bottom: 1.4rem;
      @media (min-width: variables.$mobile-width) {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
      }
    }
  }

  section:not(:last-child):not(.product) {
    margin-bottom: 1.5rem;
  }
}

.introduce {
  position: relative;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .mastercraft-logo {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
  }

  &-title {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    @media (min-width: variables.$mobile-width) {
      font-size: 1.8rem;
    }
  }

  & p {
    margin-bottom: 1rem;
    @media (min-width: variables.$mobile-width) {
      font-size: 1rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-primary {
    font-size: 0.8rem;
    padding: 1rem 2.5rem;
  }

  .btn-bookmark {
    display: flex;
    align-items: center;
    @media (min-width: variables.$mobile-width) {
      position: relative;
    }

    .icon-bookmark {
      @media (min-width: variables.$mobile-width) {
        z-index: 2;
        transform: translateX(45px);
      }
    }

    &:hover circle {
      fill: variables.$dark-gray;
    }

    .text-bookmark {
      display: none;
      font-weight: 700;
      width: 145px;
      height: 48px;
      line-height: 48px;
      text-align: right;
      color: variables.$gray;
      background-color: variables.$very-light;
      border-radius: variables.$rounded-btn;
      padding-right: 1.5rem;

      @media (min-width: variables.$mobile-width) {
        display: inline-block;
      }
    }
  }
}

.backed {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  @media (min-width: variables.$mobile-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-info {
    @media (min-width: variables.$mobile-width) {
      width: 23.33333%;
      text-align: left;
    }
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
    @media (min-width: variables.$mobile-width) {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }
  }

  &-divider {
    display: inline-block;
    width: 74px;
    height: 1px;
    background-color: variables.$very-light;
    margin: 0 auto 1rem;
    @media (min-width: variables.$mobile-width) {
      width: 1px;
      height: 52px;
    }
  }

  &-progress-bar {
    display: inline-block;
    width: 100%;
    height: 10px;
    background-color: variables.$very-light;
    border-radius: 50px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background-color: variables.$moderate-cyan;
      border-radius: 50px;
      @media (min-width: variables.$mobile-width) {
        width: 84%;
      }
    }
  }
}

.about {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    @media (min-width: variables.$mobile-width) {
      font-size: 1.25rem;
    }
  }

  .product {
    width: 100%;
    border: 1.5px solid variables.$very-light;
    margin-top: 1.3rem;

    h3 {
      @media (min-width: variables.$mobile-width) {
        font-size: 1.15rem;
      }
    }
  }
}

.product {
  padding-top: 1rem;
  padding-bottom: 1.2rem;

  h3 {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
    @media (min-width: variables.$mobile-width) {
      display: inline-block;
      margin-bottom: 1rem;
      vertical-align: middle;
    }
  }

  h4 {
    font-size: 0.8rem;
    color: variables.$moderate-cyan;
    margin-bottom: 1.2rem;
    @media (min-width: variables.$mobile-width) {
      display: inline-block;
      font-size: 0.75rem;
      float: right;
      margin-bottom: unset;
      vertical-align: middle;
    }
  }

  p {
    span {
      font-size: 1.7rem;
      font-weight: 700;
      color: #000;
      margin-right: 0.5rem;
    }
  }

  p:last-of-type {
    @media (min-width: variables.$mobile-width) {
      display: inline-block;
      margin-bottom: unset;
    }
  }

  .btn-primary {
    font-size: 0.7rem;
    padding: 0.8rem 1.6rem;
    @media (min-width: variables.$mobile-width) {
      float: right;
    }
  }
}

/***** Back Modal *****/
.back-project-modal {
  position: absolute;
  top: 120px;
  left: 6%;
  right: 6%;
  background-color: variables.$white;
  border-radius: variables.$rounded-border;
  padding: 2rem 1.5rem;
  z-index: 12;
  @media (min-width: variables.$mobile-width) {
    top: 183px;
    width: 722px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;

    h3 {
      display: inline-block;
    }

    &-info {
      margin-bottom: 1.4rem;
    }
  }

  .close:hover path {
    fill: #000;
    opacity: 1;
  }

  p {
    font-size: 0.83rem;
    color: variables.$gray;
    line-height: 1.6;
  }

  .pledge-single {
    border: 1px solid variables.$light;
    padding: 1.3rem;
    border-radius: variables.$rounded-border;

    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }

    .pledge-header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      @media (min-width: variables.$mobile-width) {
        margin-bottom: 0.5rem;
      }
    }

    .input-wrapper {
      position: relative;
      margin-right: 2rem;
    }

    .label-wrapper {
      @media (min-width: variables.$mobile-width) {
        display: flex;
        align-items: center;
        width: 100%;
      }
      & > * {
        font-size: 0.8rem;
        display: block;
        cursor: pointer;
      }

      label:last-of-type {
        font-weight: 500;
      }
      label:last-of-type:not(.no-reward) {
        color: variables.$moderate-cyan;
      }
      label:first-of-type {
        font-weight: 700;
        text-transform: capitalize;

        &:hover {
          color: variables.$moderate-cyan;
        }
      }
      label:first-of-type:not(.no-reward) {
        margin-bottom: 0.4rem;
        @media (min-width: variables.$mobile-width) {
          margin-bottom: unset;
          margin-right: 1rem;
        }
      }

      p {
        margin-left: auto;
      }
    }

    .pledge-radio-btn {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked ~ .checkmark {
        background-color: variables.$white;
      }

      &:checked ~ .checkmark::after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      border-radius: 100px;
      border: 2px solid variables.$light;
      transition: all 0.1s linear;
      cursor: pointer;

      &::after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        transform: translate(-50%, -50%);
        background-color: variables.$dark-cyan;
        border-radius: 100px;
      }
    }

    p > span {
      font-size: 1rem;
      font-weight: 700;
      color: #000;
      margin-right: 0.4rem;
    }

    & > p {
      @media (min-width: variables.$mobile-width) {
        padding-left: 2rem;
      }
    }

    p:not(:last-of-type) {
      margin-bottom: 1.3rem;
    }
  }

  hr {
    width: 119%;
    transform: translateX(-8%);
    border-style: none;
    border-top: 1px solid variables.$light;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    @media (min-width: variables.$mobile-width) {
      width: 106.5%;
      transform: translateX(-3%);
      margin-top: 2rem;
    }
  }

  .enter-pledge {
    @media (min-width: variables.$mobile-width) {
      display: flex;
      align-items: center;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
      @media (min-width: variables.$mobile-width) {
        margin-bottom: unset;
      }
    }

    .enter-pledge-inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: variables.$mobile-width) {
        column-gap: 1rem;
        margin-left: auto;
      }
    }

    label {
      font-size: 0.8rem;
      font-weight: 700;
      color: variables.$light;
      width: 93px;
      height: 45px;
      line-height: 43px;
      padding-left: 1.5rem;
      position: relative;
    }

    [type='number'] {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
      width: 93px;
      height: 45px;
      background-color: transparent;
      border: 1px solid variables.$light;
      border-radius: 50px;
      padding-left: 2.5rem;

      &:focus,
      &:active {
        outline: none;
        border: 1px solid variables.$dark-cyan;
      }
    }

    .btn-primary {
      padding: 0.8rem 1.6rem;
    }
  }
}

.success-modal {
  text-align: center;
  @media (min-width: variables.$mobile-width) {
    width: 550px;
    top: 435px;
    padding: 2.5rem 2rem;
  }

  .icon-success {
    @media (min-width: variables.$mobile-width) {
      margin-bottom: 2rem;
    }
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    @media (min-width: variables.$mobile-width) {
      margin-bottom: 1rem;
    }
  }

  p {
    margin-bottom: 1.4rem;
  }

  .btn-primary {
    padding: 0.9rem 1.9rem;
  }
}

/***** Helper Classes *****/

.icon {
  cursor: pointer;
}

.bookmarked {
  &.btn-bookmark .icon-bookmark circle {
    fill: variables.$dark-cyan;
  }

  &.btn-bookmark .icon-bookmark path {
    fill: #fff;
  }

  &.btn-bookmark .text-bookmark {
    width: 165px;
    color: variables.$dark-cyan;
  }
}

.active {
  &.pledge-single {
    border: 2px solid variables.$moderate-cyan;
  }
}

.disabled {
  &.pledge-single {
    border-color: variables.$very-light;
    cursor: not-allowed;

    p {
      color: variables.$light;
    }

    p > span {
      color: variables.$gray;
    }

    .checkmark {
      cursor: not-allowed;
    }

    .label-wrapper {
      label:first-of-type {
        color: variables.$gray;
        cursor: not-allowed;
      }
      label:last-of-type:not(.no-reward) {
        color: variables.$light-moderate-cyan;
        cursor: not-allowed;
      }
    }
  }

  &.product {
    border-color: variables.$very-light;

    h3 {
      color: variables.$gray;
    }

    h4 {
      color: variables.$light-moderate-cyan;
    }

    p {
      color: variables.$light;
    }

    p > span {
      color: variables.$gray;
    }

    .btn-primary {
      background-color: variables.$light-gray;
    }
  }
}
